extends ../layout
block content
    article
        h1= 'Delete? '+topic.title
        form(action='/topic/'+topic.id+'/delete' method='post')
            div.button-wrap
                button.button.type2(type='submit') yes
                a.button.type2(href='/topic/'+topic.id) no
