extends ../layout

block content
    article
        div.content
            if topic
                h2.title= topic.title
                p.desc= topic.description
                p.author= 'by ' + topic.author
            else
                h2.title Welcome
                p.desc This is server side javascript tutorial.


        ul.setting
            if user
                li
                    a(href='/topic/add') add
            if topic && user
                li
                    a(href='/topic/' + topic.id + '/edit') edit
                li
                    a(href='/topic/' + topic.id + '/delete') delete