doctype html
html
    head
        meta(charest='utf-8')
        title Server Side JavaScript
        style
            include css/style.css
    body
        div#root
            div#app
                nav#account
                    h1
                        a(href='/topic') Server Side JavaScript

                    ul
                        if user
                            li
                                p= user.displayName + '님 환영합니다.'
                            li
                                a(href='/auth/logout') Logout
                        else
                            li
                                a(href='/auth/register') Register
                            li
                                a(href='/auth/login') Login
                nav#side-nav
                    ul
                        each item in topics
                            li(class=(route == item.id ? "active" : undefined))
                                a(href='/topic/' + item.id)= item.title
                main
                    block content